---
export const prerender = false;
import * as contentful from "contentful";

import Head from '../../components/Head.astro';
import NavigateButton from '../../NavigateButton';
import { getEntries, getImgs, getHeroImgId } from '../../lib/contentful';

const entries = await getEntries();
const imgMap = await getImgs();

// The browser should always check freshness
Astro.response.headers.set("cache-control", "public, max-age=0, must-revalidate");

// The CDN should cache for a year, but revalidate if the cache tag changes
Astro.response.headers.set("netlify-cdn-cache-control", "s-maxage=31536000");

// Tag the page with the content type
Astro.response.headers.set("netlify-cache-tag", "markdownPage");
---

<!doctype html>
<html lang="en">
	<head>
        <Head />
		<style>
			body {
				height: 100vh;
				background: linear-gradient(
					to bottom,
					white 0%,
					gainsboro 100%
				);
			}
			main {
				border-radius: 5px;
				padding-top: 1rem;
				padding-left: 1rem;
				width: 100%;
				height: 100%;
			}

			blog-title {
				margin: 1rem;
				color: black;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				width: 90%;
				place-content: center;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				transform: skew(5deg);
				width: fit-content;
				border-radius: 30px;
				overflow: hidden;
				background-color: aliceblue;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				margin: 0 1rem;
				animation: 2s infinite ease-in alternate dance;
			}
			ul li:hover {
				background-color: transparent;
				animation-play-state: paused;
			}
			@keyframes dance {
				from {
					transform: skew(5deg) translate(0, 0);
				}

				to {
					transform: skew(-5deg) translate(0, 0);
				}
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				width: 100%;
			}
			ul li a {
				display: flex;
				height: 100%;
				background-color: rgba(1, 1, 1, 0.5);
			}
			ul li a h4 {
				margin: auto;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
			a:link {
				color: orange;
			}
			a:hover {
				color: red;
			}
			a:visited {
				color: darkorange;
			}

            img {
                max-width: 300px;
            }
		</style>
	</head>
	<body>
		<NavigateButton route="/" left />
		<main>
			<h1 class="blog-title">Blog</h1>
			<section>
				<ul>
					{
						entries.items.map((post) => (
							<li 
								style={(post.fields.heroImage?.sys as contentful.AssetSys).id && {
									backgroundImage: `url(${imgMap.get(getHeroImgId(post)) ?? ''})`,
									backgroundRepeat: "no-repeat, repeat",
									backgroundSize: "cover",
									width: "500px",
									height: "300px",
								}}
							>
								<a
									href={`/blog/${post.fields.slug}/`} class="link"
								>
									<h4 class="title">{post.fields.title}</h4>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
