.app {
    display: flex;
    flex-direction: row;
}

.category {
    margin-left: .5em;
}

.category-title {
    margin-bottom: 0;
}

.bare-link {
    text-decoration: none;
}

@media(prefers-color-scheme: light) {
    .bare-link {
        color: black;
    }
}

@media(prefers-color-scheme: dark) {
    .bare-link {
        color: white;
    }
}