:root {
    --anim-duration: 3s;
    --anim-delay: 3s;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: "Work Sans";
}

@keyframes goofy-avatar {
    from { transform: rotate(180deg); }
    to { transform: rotate(0deg); }
}
.avatar {
    width: 256px;
    height: 256px;
    animation: goofy-avatar var(--anim-duration) ease-in var(--anim-delay) both;
}

.avatarImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

@keyframes skewed-text {
    from { 
        transform: skew(15deg, 15deg);
        text-shadow: 1em 1em black;
    };
    to { 
        transform: skew(0deg, 0deg);
        text-shadow: 0em 0em;
    };
}

.flavor-text {
    margin: .5em 0;
    animation: skewed-text var(--anim-duration) ease-in var(--anim-delay) 1 both;
}

p {
    margin: .25em 0;
}

.socials {
    display: flex;
    column-gap: 5px;
    justify-self: center;
    max-width: fit-content;
}

@keyframes hello {
    from { transform: scale(1) };
    to { transform: scale(-1, 1) };
}

.icon:hover {
    transform: scale(-1, 1);
}