.work {
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    text-align: center;
    margin: 0 2em;
    overflow-y: auto;
}

.project-block {
    display: flex;
    flex-direction: column;
}

.project-heading {
    font-size: 2em;
    margin-bottom: 0;
}

.project-desc {
    text-align: center;
    align-self: center;
}

.project-dates {
    text-transform: uppercase;
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 2em;
}

.project-image {
    display: inline-block;
    align-self: center;
    max-width: 15em
}

.img-description {
    min-width: 10em;
    max-width: 20em;
}

.project-imgs {
    display: flex;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 5em;
}

@media (min-width: 1300px) and (max-width: 1800px) {
    .img-block {
        flex-direction: column;
    }
}

@media (max-width: 1300px) {
    .project-imgs {
        flex-direction: column;
    }
}

@media (min-width: 800px) and (max-width: 1300px) {
    .img-block {
        flex-direction: row;
    }
}

@media (max-width: 800px) {
    .work {
        margin: auto;
    }
    .img-block {
        flex-direction: column;
    }
    .project-heading {
        font-size: 1.5em;
    }
    .project-desc {
        max-width: 20em;
    }
}

.img-block {
    display: flex;
    gap: 5em;
    padding: 5em;
    text-align: left;
    background-color: black;
    border-radius: 5em;
    width: fit-content;
}
